*.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/* filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/reflengths.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/seq.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/complete_ref_lens.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/refAccumLengths.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/duplicate_clusters.tsv filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/rank.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/pre_indexing.log filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/ref_indexing.log filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/eqtable.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/pos.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/info.json filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/mphf.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/refseq.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/versionInfo.json filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/ctable.bin filter=lfs diff=lfs merge=lfs -text
data/Gallus_gallus/index/ctg_offsets.bin filter=lfs diff=lfs merge=lfs -text
